{
  "openapi": "3.1.0",
  "info": {
    "title": "Leadey API",
    "version": "1.0.0",
    "description": "Programmatic access to your Leadey workspace — leads, companies, contacts, and campaigns. All endpoints are authenticated with an API key and scoped to the key's organization."
  },
  "servers": [
    { "url": "https://api.leadey.ai/v1", "description": "Production" },
    { "url": "http://localhost:3001/v1", "description": "Local development" }
  ],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "summary": "Get current organization",
        "description": "Returns the organization that the API key belongs to, including plan and credit balance. Useful as a connectivity and authentication check.",
        "tags": ["Account"],
        "responses": {
          "200": {
            "description": "The authenticated organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Organization" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/leads": {
      "get": {
        "operationId": "listLeads",
        "summary": "List leads",
        "description": "Returns a paginated list of leads across the workspace, newest first.",
        "tags": ["Leads"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PageSize" },
          { "$ref": "#/components/parameters/Search" },
          {
            "name": "campaignId",
            "in": "query",
            "description": "Only return leads in this campaign.",
            "schema": { "type": "string" }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by lead status (e.g. `pending`, `replied`).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of leads.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Lead" } },
                    "meta": { "$ref": "#/components/schemas/PageMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/leads/{id}": {
      "get": {
        "operationId": "getLead",
        "summary": "Get a lead",
        "tags": ["Leads"],
        "parameters": [{ "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": {
            "description": "The requested lead.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Lead" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/campaigns": {
      "get": {
        "operationId": "listCampaigns",
        "summary": "List campaigns",
        "description": "Returns a paginated list of campaigns (multi-step, multi-channel outreach sequences).",
        "tags": ["Campaigns"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PageSize" },
          { "$ref": "#/components/parameters/Search" },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by campaign status (e.g. `draft`, `active`, `paused`).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Campaign" } },
                    "meta": { "$ref": "#/components/schemas/PageMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/campaigns/{id}": {
      "get": {
        "operationId": "getCampaign",
        "summary": "Get a campaign",
        "tags": ["Campaigns"],
        "parameters": [{ "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": {
            "description": "The requested campaign.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Campaign" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/companies": {
      "get": {
        "operationId": "listCompanies",
        "summary": "List companies",
        "description": "Returns a paginated list of companies in your workspace, ordered by name.",
        "tags": ["Companies"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PageSize" },
          { "$ref": "#/components/parameters/Search" },
          {
            "name": "industry",
            "in": "query",
            "description": "Filter by industry (substring match).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of companies.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Company" } },
                    "meta": { "$ref": "#/components/schemas/PageMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/companies/{id}": {
      "get": {
        "operationId": "getCompany",
        "summary": "Get a company",
        "tags": ["Companies"],
        "parameters": [{ "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": {
            "description": "The requested company.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Company" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/contacts": {
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "description": "Returns a paginated list of contacts (decision-makers) in your workspace, newest first.",
        "tags": ["Contacts"],
        "parameters": [
          { "$ref": "#/components/parameters/Page" },
          { "$ref": "#/components/parameters/PageSize" },
          { "$ref": "#/components/parameters/Search" },
          {
            "name": "company",
            "in": "query",
            "description": "Filter by company name (substring match).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of contacts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Contact" } },
                    "meta": { "$ref": "#/components/schemas/PageMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "tags": ["Contacts"],
        "parameters": [{ "$ref": "#/components/parameters/Id" }],
        "responses": {
          "200": {
            "description": "The requested contact.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Contact" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Your API key, created in the Leadey dashboard under Settings → API Keys. Send it as `Authorization: Bearer leadey_sk_live_…`."
      }
    },
    "parameters": {
      "Id": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The resource id.",
        "schema": { "type": "string" }
      },
      "Page": {
        "name": "page",
        "in": "query",
        "description": "1-based page number.",
        "schema": { "type": "integer", "minimum": 1, "default": 1 }
      },
      "PageSize": {
        "name": "pageSize",
        "in": "query",
        "description": "Items per page (max 100).",
        "schema": { "type": "integer", "minimum": 1, "maximum": 100, "default": 25 }
      },
      "Search": {
        "name": "search",
        "in": "query",
        "description": "Free-text search across the resource's key fields.",
        "schema": { "type": "string" }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "The API key is missing, invalid, or revoked.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": { "message": "Invalid or revoked API key.", "details": null } }
          }
        }
      },
      "NotFound": {
        "description": "The resource does not exist or is not in your workspace.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": { "message": "Lead not found", "details": null } }
          }
        }
      },
      "RateLimited": {
        "description": "Too many requests. Retry after the period in the `Retry-After` header.",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/Error" },
            "example": { "error": { "message": "Rate limit exceeded. Retry in 42s.", "details": null } }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": { "type": "string", "description": "Human-readable error message." },
              "details": { "type": ["object", "array", "string", "null"], "description": "Optional structured detail." }
            },
            "required": ["message"]
          }
        }
      },
      "PageMeta": {
        "type": "object",
        "properties": {
          "page": { "type": "integer", "example": 1 },
          "pageSize": { "type": "integer", "example": 25 },
          "totalCount": { "type": "integer", "example": 134 },
          "totalPages": { "type": "integer", "example": 6 }
        }
      },
      "Organization": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "plan": { "type": "string", "example": "growth" },
          "planStatus": { "type": "string", "example": "active" },
          "credits": {
            "type": "object",
            "properties": {
              "balance": { "type": "integer", "description": "Spendable credit balance.", "example": 2840 },
              "included": { "type": "integer", "example": 10000 },
              "used": { "type": "integer", "example": 7160 }
            }
          },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "firstName": { "type": ["string", "null"] },
          "lastName": { "type": ["string", "null"] },
          "title": { "type": "string" },
          "company": { "type": "string" },
          "email": { "type": ["string", "null"] },
          "phone": { "type": ["string", "null"] },
          "linkedinUrl": { "type": ["string", "null"] },
          "status": { "type": "string", "example": "pending" },
          "source": { "type": "string" },
          "score": { "type": "integer", "example": 78 },
          "campaignId": { "type": "string" },
          "campaignName": { "type": ["string", "null"] },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Campaign": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": ["string", "null"] },
          "status": { "type": "string", "example": "active" },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Company": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "domain": { "type": ["string", "null"] },
          "industry": { "type": ["string", "null"] },
          "employeeCount": { "type": ["integer", "null"] },
          "fundingStage": { "type": ["string", "null"] },
          "country": { "type": ["string", "null"] },
          "city": { "type": ["string", "null"] },
          "linkedinUrl": { "type": ["string", "null"] },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "firstName": { "type": ["string", "null"] },
          "lastName": { "type": ["string", "null"] },
          "fullName": { "type": ["string", "null"] },
          "title": { "type": ["string", "null"] },
          "company": { "type": ["string", "null"] },
          "email": { "type": ["string", "null"] },
          "emailStatus": { "type": ["string", "null"] },
          "phone": { "type": ["string", "null"] },
          "phoneStatus": { "type": ["string", "null"] },
          "linkedinUrl": { "type": ["string", "null"] },
          "location": { "type": ["string", "null"] },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
